<footer class="text-white py-4 mt-0" style="background-color: #896A67;">
  <div class="container text-center">
    <span>&copy; <%= Time.current.year %> Tous droits réservés.</span>
  </div>
</footer>
