
<h1><strong>Incredible name (<%= @animal.name %>):</strong></h1>
<blockquote class="blockquote"><%= @animal.description %></blockquote>

<h2>Félicitations ! You found a great name for your pet !</h2>

<%= link_to "Regénérer un prénom", new_animal_path(@animal), class: "btn btn-primary" %>
