
<strong>Incredible name (<%= @animal.name %>):</strong>
<blockquote class="blockquote"><%= @animal.description %></blockquote>

<h2>Félicitations ! You found a great name for your pet !</h2>

<%= link_to "Regénérer un prénom", new_animal_message_path(@animal), class: "btn btn-primary" %>

