.navbar {
  background-color: $primary; // #6B4D57
  padding: 1rem 2rem;

  .navbar-brand {
    font-weight: 700;
    color: $light; // #DDC8C4
    font-size: 1.25rem;

    &:hover {
      color: $secondary; // #896A67
    }
  }

  .nav-link {
    color: $light;
    margin-left: 1rem;
    transition: color 0.3s;

    &:hover {
      color: $secondary;
    }
  }

  .btn {
    border-radius: $border-radius-xxl; // pill shape
    font-weight: 500;
    padding: 0.4rem 1.2rem;
  }
}
